.theme-claymorphism {
  --background: oklch(0.92 0 48.72);
  --foreground: oklch(0.28 0.04 260.03);

  --card: oklch(0.97 0 106.42);
  --card-foreground: oklch(0.28 0.04 260.03);

  --popover: oklch(0.97 0 106.42);
  --popover-foreground: oklch(0.28 0.04 260.03);

  --primary: oklch(0.59 0.2 277.12);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.87 0 56.37);
  --secondary-foreground: oklch(0.45 0.03 256.8);

  --muted: oklch(0.92 0 48.72);
  --muted-foreground: oklch(0.55 0.02 264.36);

  --accent: oklch(0.94 0.03 321.94);
  --accent-foreground: oklch(0.37 0.03 259.73);

  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.87 0 56.37);
  --input: oklch(0.87 0 56.37);
  --ring: oklch(0.59 0.2 277.12);

  @variant dark {
    --background: oklch(0.22 0.01 67.44);
    --foreground: oklch(0.93 0.01 255.51);

    --card: oklch(0.28 0.01 59.34);
    --card-foreground: oklch(0.93 0.01 255.51);

    --popover: oklch(0.28 0.01 59.34);
    --popover-foreground: oklch(0.93 0.01 255.51);

    --primary: oklch(0.68 0.16 276.93);
    --primary-foreground: oklch(0.22 0.01 67.44);

    --secondary: oklch(0.34 0.01 59.42);
    --secondary-foreground: oklch(0.87 0.01 258.34);

    --muted: oklch(0.28 0.01 59.34);
    --muted-foreground: oklch(0.71 0.02 261.32);

    --accent: oklch(0.39 0.01 59.47);
    --accent-foreground: oklch(0.87 0.01 258.34);

    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(0.22 0.01 67.44);

    --border: oklch(0.34 0.01 59.42);
    --input: oklch(0.34 0.01 59.42);
    --ring: oklch(0.68 0.16 276.93);
  }
}

.theme-vintage-paper {
  --background: oklch(0.96 0.02 90.24);
  --foreground: oklch(0.38 0.02 64.34);

  --card: oklch(0.99 0.01 87.47);
  --card-foreground: oklch(0.38 0.02 64.34);

  --popover: oklch(0.99 0.01 87.47);
  --popover-foreground: oklch(0.38 0.02 64.34);

  --primary: oklch(0.62 0.08 65.54);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.88 0.03 85.57);
  --secondary-foreground: oklch(0.43 0.03 64.93);

  --muted: oklch(0.92 0.02 83.06);
  --muted-foreground: oklch(0.54 0.04 71.17);

  --accent: oklch(0.83 0.04 88.81);
  --accent-foreground: oklch(0.38 0.02 64.34);

  --destructive: oklch(0.55 0.14 32.91);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.86 0.03 84.59);
  --input: oklch(0.86 0.03 84.59);
  --ring: oklch(0.62 0.08 65.54);

  @variant dark {
    --background: oklch(0.27 0.01 57.65);
    --foreground: oklch(0.92 0.02 83.06);

    --card: oklch(0.32 0.02 59.06);
    --card-foreground: oklch(0.92 0.02 83.06);

    --popover: oklch(0.32 0.02 59.06);
    --popover-foreground: oklch(0.92 0.02 83.06);

    --primary: oklch(0.73 0.06 66.7);
    --primary-foreground: oklch(0.27 0.01 57.65);

    --secondary: oklch(0.38 0.02 57.13);
    --secondary-foreground: oklch(0.92 0.02 83.06);

    --muted: oklch(0.32 0.02 59.06);
    --muted-foreground: oklch(0.8 0.02 82.11);

    --accent: oklch(0.42 0.03 56.34);
    --accent-foreground: oklch(0.92 0.02 83.06);

    --destructive: oklch(0.55 0.14 32.91);
    --destructive-foreground: oklch(1 0 0);

    --border: oklch(0.38 0.02 57.13);
    --input: oklch(0.38 0.02 57.13);
    --ring: oklch(0.73 0.06 66.7);
  }
}

.theme-vercel {
  --background: oklch(0.99 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.94 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.44 0 0);
  --accent: oklch(0.94 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.63 0.19 23.03);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.92 0 0);
  --input: oklch(0.94 0 0);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.81 0.17 75.35);
  --chart-2: oklch(0.55 0.22 264.53);
  --chart-3: oklch(0.72 0 0);
  --chart-4: oklch(0.92 0 0);
  --chart-5: oklch(0.56 0 0);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.94 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0 0 0);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);

  @variant dark {
    --background: oklch(0 0 0);
    --foreground: oklch(1 0 0);
    --card: oklch(0.14 0 0);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.18 0 0);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(1 0 0);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.25 0 0);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.23 0 0);
    --muted-foreground: oklch(0.72 0 0);
    --accent: oklch(0.32 0 0);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.69 0.2 23.91);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.26 0 0);
    --input: oklch(0.32 0 0);
    --ring: oklch(0.72 0 0);
    --chart-1: oklch(0.81 0.17 75.35);
    --chart-2: oklch(0.58 0.21 260.84);
    --chart-3: oklch(0.56 0 0);
    --chart-4: oklch(0.44 0 0);
    --chart-5: oklch(0.92 0 0);
    --sidebar: oklch(0.18 0 0);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0);
    --sidebar-primary-foreground: oklch(0 0 0);
    --sidebar-accent: oklch(0.32 0 0);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(0.32 0 0);
    --sidebar-ring: oklch(0.72 0 0);
    --font-sans: Geist, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow-md:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
    --shadow-lg:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
    --shadow-xl:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
    --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  }
}

.theme-t3chat {
  --background: oklch(0.9754 0.0084 325.6414);
  --foreground: oklch(0.3257 0.1161 325.0372);
  --card: oklch(0.9754 0.0084 325.6414);
  --card-foreground: oklch(0.3257 0.1161 325.0372);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3257 0.1161 325.0372);
  --primary: oklch(0.5316 0.1409 355.1999);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8696 0.0675 334.8991);
  --secondary-foreground: oklch(0.4448 0.1341 324.7991);
  --muted: oklch(0.9395 0.026 331.5454);
  --muted-foreground: oklch(0.4924 0.1244 324.4523);
  --accent: oklch(0.8696 0.0675 334.8991);
  --accent-foreground: oklch(0.4448 0.1341 324.7991);
  --destructive: oklch(0.5248 0.1368 20.8317);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8568 0.0829 328.911);
  --input: oklch(0.8517 0.0558 336.6002);
  --ring: oklch(0.5916 0.218 0.5844);
  --chart-1: oklch(0.6038 0.2363 344.4657);
  --chart-2: oklch(0.4445 0.2251 300.6246);
  --chart-3: oklch(0.379 0.0438 226.1538);
  --chart-4: oklch(0.833 0.1185 88.3461);
  --chart-5: oklch(0.7843 0.1256 58.9964);
  --sidebar: oklch(0.936 0.0288 320.5788);
  --sidebar-foreground: oklch(0.4948 0.1909 354.5435);
  --sidebar-primary: oklch(0.3963 0.0251 285.1962);
  --sidebar-primary-foreground: oklch(0.9668 0.0124 337.5228);
  --sidebar-accent: oklch(0.9789 0.0013 106.4235);
  --sidebar-accent-foreground: oklch(0.3963 0.0251 285.1962);
  --sidebar-border: oklch(0.9383 0.0026 48.7178);
  --sidebar-ring: oklch(0.5916 0.218 0.5844);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  @variant dark {
    --background: oklch(0.2409 0.0201 307.5346);
    --foreground: oklch(0.8398 0.0387 309.5391);
    --card: oklch(0.2803 0.0232 307.5413);
    --card-foreground: oklch(0.8456 0.0302 341.4597);
    --popover: oklch(0.1548 0.0132 338.9015);
    --popover-foreground: oklch(0.9647 0.0091 341.8035);
    --primary: oklch(0.4607 0.1853 4.0994);
    --primary-foreground: oklch(0.856 0.0618 346.3684);
    --secondary: oklch(0.3137 0.0306 310.061);
    --secondary-foreground: oklch(0.8483 0.0382 307.9613);
    --muted: oklch(0.2634 0.0219 309.4748);
    --muted-foreground: oklch(0.794 0.0372 307.1032);
    --accent: oklch(0.3649 0.0508 308.4911);
    --accent-foreground: oklch(0.9647 0.0091 341.8035);
    --destructive: oklch(0.2258 0.0524 12.6119);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3286 0.0154 343.4461);
    --input: oklch(0.3387 0.0195 332.8347);
    --ring: oklch(0.5916 0.218 0.5844);
    --chart-1: oklch(0.5316 0.1409 355.1999);
    --chart-2: oklch(0.5633 0.1912 306.8561);
    --chart-3: oklch(0.7227 0.1502 60.5799);
    --chart-4: oklch(0.6193 0.2029 312.7422);
    --chart-5: oklch(0.6118 0.2093 6.1387);
    --sidebar: oklch(0.1893 0.0163 331.0475);
    --sidebar-foreground: oklch(0.8607 0.0293 343.6612);
    --sidebar-primary: oklch(0.4882 0.2172 264.3763);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.2337 0.0261 338.1961);
    --sidebar-accent-foreground: oklch(0.9674 0.0013 286.3752);
    --sidebar-border: oklch(0 0 0);
    --sidebar-ring: oklch(0.5916 0.218 0.5844);
    --font-sans:
      ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

.theme-amethyst-haze {
  --background: oklch(0.98 0 301.43);
  --foreground: oklch(0.37 0.03 287.08);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.37 0.03 287.08);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.37 0.03 287.08);
  --primary: oklch(0.61 0.08 299.73);
  --primary-foreground: oklch(0.98 0 301.43);
  --secondary: oklch(0.9 0.03 300.24);
  --secondary-foreground: oklch(0.37 0.03 287.08);
  --muted: oklch(0.89 0.01 299.78);
  --muted-foreground: oklch(0.53 0.04 290.79);
  --accent: oklch(0.79 0.08 359.94);
  --accent-foreground: oklch(0.34 0.04 1.76);
  --destructive: oklch(0.63 0.16 22.67);
  --destructive-foreground: oklch(0.98 0 301.43);
  --border: oklch(0.84 0.02 300.14);
  --input: oklch(0.93 0.01 301.28);
  --ring: oklch(0.61 0.08 299.73);
  --chart-1: oklch(0.61 0.08 299.73);
  --chart-2: oklch(0.79 0.08 359.94);
  --chart-3: oklch(0.73 0.07 169.87);
  --chart-4: oklch(0.85 0.09 76.83);
  --chart-5: oklch(0.79 0.06 258.08);
  --sidebar: oklch(0.96 0.01 301.35);
  --sidebar-foreground: oklch(0.37 0.03 287.08);
  --sidebar-primary: oklch(0.61 0.08 299.73);
  --sidebar-primary-foreground: oklch(0.98 0 301.43);
  --sidebar-accent: oklch(0.79 0.08 359.94);
  --sidebar-accent-foreground: oklch(0.34 0.04 1.76);
  --sidebar-border: oklch(0.87 0.02 302.17);
  --sidebar-ring: oklch(0.61 0.08 299.73);

  @variant dark {
    --background: oklch(0.22 0.02 292.85);
    --foreground: oklch(0.91 0.02 293.56);
    --card: oklch(0.25 0.03 292.73);
    --card-foreground: oklch(0.91 0.02 293.56);
    --popover: oklch(0.25 0.03 292.73);
    --popover-foreground: oklch(0.91 0.02 293.56);
    --primary: oklch(0.71 0.08 302.05);
    --primary-foreground: oklch(0.22 0.02 292.85);
    --secondary: oklch(0.46 0.05 295.56);
    --secondary-foreground: oklch(0.91 0.02 293.56);
    --muted: oklch(0.26 0.03 294.84);
    --muted-foreground: oklch(0.7 0.03 300.06);
    --accent: oklch(0.32 0.03 308.61);
    --accent-foreground: oklch(0.84 0.07 2.67);
    --destructive: oklch(0.69 0.14 21.46);
    --destructive-foreground: oklch(0.22 0.02 292.85);
    --border: oklch(0.31 0.04 293.34);
    --input: oklch(0.28 0.03 291.27);
    --ring: oklch(0.71 0.08 302.05);
    --chart-1: oklch(0.71 0.08 302.05);
    --chart-2: oklch(0.84 0.07 2.67);
    --chart-3: oklch(0.73 0.07 169.87);
    --chart-4: oklch(0.85 0.09 76.83);
    --chart-5: oklch(0.79 0.06 258.08);
    --sidebar: oklch(0.2 0.02 293.66);
    --sidebar-foreground: oklch(0.91 0.02 293.56);
    --sidebar-primary: oklch(0.71 0.08 302.05);
    --sidebar-primary-foreground: oklch(0.22 0.02 292.85);
    --sidebar-accent: oklch(0.32 0.03 308.61);
    --sidebar-accent-foreground: oklch(0.84 0.07 2.67);
    --sidebar-border: oklch(0.28 0.03 291.27);
    --sidebar-ring: oklch(0.71 0.08 302.05);
  }
}

.theme-mono {
  --background: oklch(1 0 0);
  --foreground: oklch(0.14 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.14 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.14 0 0);
  --primary: oklch(0.56 0 0);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.2 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.55 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.2 0 0);
  --destructive: oklch(0.58 0.24 28.48);
  --destructive-foreground: oklch(0.97 0 0);
  --border: oklch(0.92 0 0);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.71 0 0);
  --chart-1: oklch(0.56 0 0);
  --chart-2: oklch(0.56 0 0);
  --chart-3: oklch(0.56 0 0);
  --chart-4: oklch(0.56 0 0);
  --chart-5: oklch(0.56 0 0);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.14 0 0);
  --sidebar-primary: oklch(0.2 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.2 0 0);
  --sidebar-border: oklch(0.92 0 0);
  --sidebar-ring: oklch(0.71 0 0);
  --font-sans: Geist Mono, monospace;
  --font-serif: Geist Mono, monospace;
  --font-mono: Geist Mono, monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl:
    0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);

  @variant dark {
    --background: oklch(0.14 0 0);
    --foreground: oklch(0.99 0 0);
    --card: oklch(0.21 0 0);
    --card-foreground: oklch(0.99 0 0);
    --popover: oklch(0.27 0 0);
    --popover-foreground: oklch(0.99 0 0);
    --primary: oklch(0.56 0 0);
    --primary-foreground: oklch(0.99 0 0);
    --secondary: oklch(0.27 0 0);
    --secondary-foreground: oklch(0.99 0 0);
    --muted: oklch(0.27 0 0);
    --muted-foreground: oklch(0.71 0 0);
    --accent: oklch(0.37 0 0);
    --accent-foreground: oklch(0.99 0 0);
    --destructive: oklch(0.7 0.19 22.23);
    --destructive-foreground: oklch(0.27 0 0);
    --border: oklch(0.34 0 0);
    --input: oklch(0.44 0 0);
    --ring: oklch(0.56 0 0);
    --chart-1: oklch(0.56 0 0);
    --chart-2: oklch(0.56 0 0);
    --chart-3: oklch(0.56 0 0);
    --chart-4: oklch(0.56 0 0);
    --chart-5: oklch(0.56 0 0);
    --sidebar: oklch(0.2 0 0);
    --sidebar-foreground: oklch(0.99 0 0);
    --sidebar-primary: oklch(0.99 0 0);
    --sidebar-primary-foreground: oklch(0.2 0 0);
    --sidebar-accent: oklch(0.27 0 0);
    --sidebar-accent-foreground: oklch(0.99 0 0);
    --sidebar-border: oklch(1 0 0);
    --sidebar-ring: oklch(0.44 0 0);
    --font-sans: Geist Mono, monospace;
    --font-serif: Geist Mono, monospace;
    --font-mono: Geist Mono, monospace;
    --radius: 0rem;
    --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --shadow-sm:
      0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow:
      0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow-md:
      0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
    --shadow-lg:
      0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
    --shadow-xl:
      0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
    --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  }
}

.theme-caffeine {
  --background: oklch(0.9821 0 0);
  --foreground: oklch(0.2435 0 0);
  --card: oklch(0.9911 0 0);
  --card-foreground: oklch(0.2435 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0.2435 0 0);
  --primary: oklch(0.4341 0.0392 41.9938);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.92 0.0651 74.3695);
  --secondary-foreground: oklch(0.3499 0.0685 40.8288);
  --muted: oklch(0.9521 0 0);
  --muted-foreground: oklch(0.5032 0 0);
  --accent: oklch(0.931 0 0);
  --accent-foreground: oklch(0.2435 0 0);
  --destructive: oklch(0.6271 0.1936 33.339);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8822 0 0);
  --input: oklch(0.8822 0 0);
  --ring: oklch(0.4341 0.0392 41.9938);
  --chart-1: oklch(0.4341 0.0392 41.9938);
  --chart-2: oklch(0.92 0.0651 74.3695);
  --chart-3: oklch(0.931 0 0);
  --chart-4: oklch(0.9367 0.0523 75.5009);
  --chart-5: oklch(0.4338 0.0437 41.6746);
  --sidebar: oklch(0.9881 0 0);
  --sidebar-foreground: oklch(0.2645 0 0);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9761 0 0);
  --sidebar-accent-foreground: oklch(0.325 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  @variant dark {
    --background: oklch(0.1776 0 0);
    --foreground: oklch(0.9491 0 0);
    --card: oklch(0.2134 0 0);
    --card-foreground: oklch(0.9491 0 0);
    --popover: oklch(0.2134 0 0);
    --popover-foreground: oklch(0.9491 0 0);
    --primary: oklch(0.9247 0.0524 66.1732);
    --primary-foreground: oklch(0.2029 0.024 200.1962);
    --secondary: oklch(0.3163 0.019 63.6992);
    --secondary-foreground: oklch(0.9247 0.0524 66.1732);
    --muted: oklch(0.252 0 0);
    --muted-foreground: oklch(0.7699 0 0);
    --accent: oklch(0.285 0 0);
    --accent-foreground: oklch(0.9491 0 0);
    --destructive: oklch(0.6271 0.1936 33.339);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.2351 0.0115 91.7467);
    --input: oklch(0.4017 0 0);
    --ring: oklch(0.9247 0.0524 66.1732);
    --chart-1: oklch(0.9247 0.0524 66.1732);
    --chart-2: oklch(0.3163 0.019 63.6992);
    --chart-3: oklch(0.285 0 0);
    --chart-4: oklch(0.3481 0.0219 67.0001);
    --chart-5: oklch(0.9245 0.0533 67.0855);
    --sidebar: oklch(0.2103 0.0059 285.8852);
    --sidebar-foreground: oklch(0.9674 0.0013 286.3752);
    --sidebar-primary: oklch(0.4882 0.2172 264.3763);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.2739 0.0055 286.0326);
    --sidebar-accent-foreground: oklch(0.9674 0.0013 286.3752);
    --sidebar-border: oklch(0.2739 0.0055 286.0326);
    --sidebar-ring: oklch(0.8711 0.0055 286.286);
    --font-sans:
      ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

.theme-twitter {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1884 0.0128 248.5103);
  --card: oklch(0.9784 0.0011 197.1387);
  --card-foreground: oklch(0.1884 0.0128 248.5103);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1884 0.0128 248.5103);
  --primary: oklch(0.6723 0.1606 244.9955);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.1884 0.0128 248.5103);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9222 0.0013 286.3737);
  --muted-foreground: oklch(0.1884 0.0128 248.5103);
  --accent: oklch(0.9392 0.0166 250.8453);
  --accent-foreground: oklch(0.6723 0.1606 244.9955);
  --destructive: oklch(0.6188 0.2376 25.7658);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9317 0.0118 231.6594);
  --input: oklch(0.9809 0.0025 228.7836);
  --ring: oklch(0.6818 0.1584 243.354);
  --chart-1: oklch(0.6723 0.1606 244.9955);
  --chart-2: oklch(0.6907 0.1554 160.3454);
  --chart-3: oklch(0.8214 0.16 82.5337);
  --chart-4: oklch(0.7064 0.1822 151.7125);
  --chart-5: oklch(0.5919 0.2186 10.5826);
  --sidebar: oklch(0.9784 0.0011 197.1387);
  --sidebar-foreground: oklch(0.1884 0.0128 248.5103);
  --sidebar-primary: oklch(0.6723 0.1606 244.9955);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9392 0.0166 250.8453);
  --sidebar-accent-foreground: oklch(0.6723 0.1606 244.9955);
  --sidebar-border: oklch(0.9271 0.0101 238.5177);
  --sidebar-ring: oklch(0.6818 0.1584 243.354);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl:
    0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);

  @variant dark {
    --background: oklch(0 0 0);
    --foreground: oklch(0.9328 0.0025 228.7857);
    --card: oklch(0.2097 0.008 274.5332);
    --card-foreground: oklch(0.8853 0 0);
    --popover: oklch(0 0 0);
    --popover-foreground: oklch(0.9328 0.0025 228.7857);
    --primary: oklch(0.6692 0.1607 245.011);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9622 0.0035 219.5331);
    --secondary-foreground: oklch(0.1884 0.0128 248.5103);
    --muted: oklch(0.209 0 0);
    --muted-foreground: oklch(0.5637 0.0078 247.9662);
    --accent: oklch(0.1928 0.0331 242.5459);
    --accent-foreground: oklch(0.6692 0.1607 245.011);
    --destructive: oklch(0.6188 0.2376 25.7658);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.2674 0.0047 248.0045);
    --input: oklch(0.302 0.0288 244.8244);
    --ring: oklch(0.6818 0.1584 243.354);
    --chart-1: oklch(0.6723 0.1606 244.9955);
    --chart-2: oklch(0.6907 0.1554 160.3454);
    --chart-3: oklch(0.8214 0.16 82.5337);
    --chart-4: oklch(0.7064 0.1822 151.7125);
    --chart-5: oklch(0.5919 0.2186 10.5826);
    --sidebar: oklch(0.2097 0.008 274.5332);
    --sidebar-foreground: oklch(0.8853 0 0);
    --sidebar-primary: oklch(0.6818 0.1584 243.354);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.1928 0.0331 242.5459);
    --sidebar-accent-foreground: oklch(0.6692 0.1607 245.011);
    --sidebar-border: oklch(0.3795 0.022 240.5943);
    --sidebar-ring: oklch(0.6818 0.1584 243.354);
    --font-sans: Open Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 1.3rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-sm:
      0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
      0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow:
      0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
      0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-md:
      0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
      0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-lg:
      0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
      0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-xl:
      0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
      0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  }
}
